Django==1.5
dj-database-url==0.2.0
South==0.7.5
django-appconf==0.5
django-compressor==1.1.2
httplib2==0.7.6
ipython==0.13
mimeparse==0.1.3
psycopg2==2.4.5
pyjade==1.5
python-dateutil==1.5
requests==0.13.2
wsgiref==0.1.2
#-e git+git://github.com/satels/django-ipgeobase.git#egg=django_ipgeobase
